.d-flex {
    display:flex;
}
.justify-content-between {
    justify-content: space-between;
}
.me-2 {
    margin-right: 16px;
}
.left,.right {
   width:200px;
   height:300px;
}
.left{
 border:1px solid black;
}
.right{
    border:1px solid yellow;
}
.justify-content-center{
    justify-content: center;
}
.mt-2 {
 margin-top: 16px;
}